# Ignorar ambiente virtual
venv/


# Arquivos compilados Python
__pycache__/
*.py[cod]

# Configurações do editor (exemplos)
.vscode/
.idea/

# Arquivos temporários
*.log
*.tmp

# Arquivos de sistema
.DS_Store
Thumbs.db